@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quản lý data</title>

    <link rel="icon" type="image/x-icon" href="~/img/favico.jpg">
    <!-- Custom fonts for this template -->
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link href="~/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
               asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">quản lý <sup>data</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Nhập liệu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <!--Role cho nhân viên MKT-->
            @if (User.FindFirstValue(ClaimTypes.Role) == "MKT")
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Nhập số điện thoại</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Nhập liệu:</h6>
                            <a class="collapse-item" href="/them-so-dien-thoai">Thêm mới</a>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <!-- Nav Item - Utilities Collapse Menu -->
                <!--Role cho nhân viên quản lý MKT-->
                @if (User.FindFirstValue(ClaimTypes.Role) == "MgMKT")
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                           aria-expanded="true" aria-controls="collapseUtilities">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Chia sale</span>
                        </a>
                        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                             data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Bảng chia sale</h6>
                                <a class="collapse-item" href="/chia-sale">Chia Sale</a>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <!-- Divider -->
                    <!--Role cho nhân viên sale-->
                    <hr class="sidebar-divider">

                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Đơn hàng
                    </div>
                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedon"
                           aria-expanded="true" aria-controls="collapsedon">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Điều khiển</span>
                        </a>
                        <div id="collapsedon" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Thứ tự</h6>
                                @if (User.FindFirstValue(ClaimTypes.Role) == "Sale")
                                {
                                    <a class="collapse-item" href="/danh-sach-len-don">Danh sách lên đơn</a>
                                    <a class="collapse-item" href="/danh-sach-don-hang">Đơn hàng</a>
                                    <div class="collapse-divider"></div>
                                }
                            </div>
                        </div>
                    </li>
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        Khách hàng
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsekhachhang"
                           aria-expanded="true" aria-controls="collapsekhachhang">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Điều khiển</span>
                        </a>
                        <div id="collapsekhachhang" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Thứ tự</h6>
                                <a class="collapse-item" href="/lich-hen">Lịch hẹn</a>
                                <a class="collapse-item" href="/khach-bom-hang">Khách bom</a>
                            </div>
                        </div>
                    </li>
                    <!-- Heading -->
                    @if (User.FindFirstValue(ClaimTypes.Role) == "Admin")
                    {
                        <div class="sidebar-heading">
                            Hệ thống
                        </div>

                        <!-- Nav Item - Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsehethong"
                               aria-expanded="true" aria-controls="collapsehethong">
                                <i class="fas fa-fw fa-folder"></i>
                                <span>Điều khiển</span>
                            </a>
                            <div id="collapsehethong" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header">Nhóm menu chọn</h6>
                                    <a class="collapse-item" href="/loai-san-pham">Nhóm sản phẩm</a>
                                    <a class="collapse-item" href="/don-vi">Nhóm đơn vị sản phẩm</a>
                                    <a class="collapse-item" href="/nhom-khach-hang">Nhóm khách hàng</a>
                                    <a class="collapse-item" href="/trang-thai-don-hang">Trạng thái đơn hàng</a>
                                    <a class="collapse-item" href="/hinh-thuc-giao-hang">Hình thức giao hàng</a>
                                    <a class="collapse-item" href="/nguon-hang">Nguồn đơn hàng</a>
                                    <a class="collapse-item" href="/dia-chi-giao-hang">Địa chỉ lấy hàng</a>
                                </div>
                            </div>
                        </li>
                        <!-- Heading -->
                        <div class="sidebar-heading">
                            Tài khoản
                        </div>

                        <!-- Nav Item - Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetaikhoan"
                               aria-expanded="true" aria-controls="collapsetaikhoan">
                                <i class="fas fa-fw fa-folder"></i>
                                <span>Điều khiển</span>
                            </a>
                            <div id="collapsetaikhoan" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <h6 class="collapse-header">Nhóm chức năng</h6>
                                    <a class="collapse-item" href="/tuy-chinh-shop">Tùy chỉnh shop</a>
                                    <a class="collapse-item" href="/danh-sach-nguoi-dung">Danh sách tài khoản</a>
                                    @* <a class="collapse-item" href="login.html">Nhóm quyền chức năng</a>*@
                                </div>
                            </div>
                        </li>
                        <!-- Nav Item - Charts -->
                        <li class="nav-item">
                            <a class="nav-link" href="/bao-cao">
                                <i class="fas fa-fw fa-chart-area"></i>
                                <span>Báo cáo</span>
                            </a>
                        </li>
                        <!-- Nav Item - Charts -->
                        <li class="nav-item">
                            <a class="nav-link" href="/danh-sach-san-pham">
                                <i class="fas fa-fw fa-chart-area"></i>
                                <span>Sản phẩm</span>
                            </a>
                        </li>
                        <!-- Nav Item - Tables -->
                        <li class="nav-item">
                            <a class="nav-link" href="/kho-nhap">
                                <i class="fas fa-fw fa-table"></i>
                                <span>Kho nhập</span>
                            </a>
                        </li>
                    }
                }
            }
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @User.Identity.Name
                                </span>
                                <img class="img-profile rounded-circle"
                                     src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/thong-tin-tai-khoan">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông tin
                                </a>
                                <a class="dropdown-item" href="/doi-mat-khau">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đổi mật khẩu
                                </a>
                                <div class="dropdown-divider"></div>
                                <form asp-controller="User" asp-action="LogOff" method="post" class="dropdown-item">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Đăng xuất
                                    </button>
                                </form>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Main Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/datatables-demo.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>