@using WebQuanLyBanHang.Utilities.ViewModel;
@model UserVM
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Thông tin tài khoản</h5>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="Add" asp-controller="User" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UserName">Tài khoản</label>
                    <input type="text" class="form-control" min="0" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FullName">Tên nhân viên:</label>
                    <input type="text" class="form-control" asp-for="FullName" placeholder="Họ và tên">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PasswordHash">Mật khẩu</label>
                    <input type="text" class="form-control" asp-for="PasswordHash" readonly />
                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email">Email</label>
                    <input type="text" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label asp-for="Address">Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="PhoneNumber">Số điện thoại</label>
                    <input type="number" class="form-control" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="DateOfBirth">Ngày sinh</label>
                    <input type="date" class="form-control" asp-for="DateOfBirth" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Sex">Giới tính</label>
                    <input type="checkbox" class="form-control" asp-for="Sex">
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="RoleId">Quyền truy cập</label>
                    <select asp-for="RoleId" asp-items="@ViewBag.Roles" class="form-control">
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>

            </div>
            <button type="submit" class="btn  btn-primary">Lưu lại</button>
            <a href="/danh-sach-nguoi-dung" class="btn btn-light">Hủy</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            loadpasword();
        });
      
        function loadpasword() {
            const passwordTxt = document.getElementById("PasswordHash");
           
              passwordTxt.value = generatePassword();
        };
        function generatePassword() {

            let password = "";
            for (let i = 0; i < 16; i++) {
                password += characters.charAt(
                    Math.floor(Math.random() * characters.length)
                );
            }
            return password;
        };

    </script>
}
