@using WebQuanLyBanHang.Utilities.ViewModel;
@model UserPaword
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Đổi mật khẩu</h5>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="ChangePassword" asp-controller="User" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-12">
                    <label asp-for="PaswordNew">Mật khẩu mới:</label>
                    <input type="text" class="form-control" asp-for="PaswordNew" />
                    <span asp-validation-for="PaswordNew" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn  btn-primary">Cập nhật</button>
            <button type="reset" class="btn  btn-light">Reset</button>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    </script>
}
